{%extends 'base.html' %}
{%load static %}
{%block css%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

{%endblock css%}
{%block title%}Signup page{%endblock%}
{%block sign%}

<div class="container  p-6">
  <div class="row">
    <div class="col-md-4"></div>
   
    <div class="col-md-4">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3 class="text-white bg-dark text-center p-3">Signup here</h3>

      <div class="card">
      {%for mess in messages%}

        <div class="alert alert-{{messages.tags}}- alert-dismissible fade show" role="alert">
          <strong>{{mess}}</strong> .
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {%endfor%}

        <form class="form-group" method="post" action="/auth/signup/">{%csrf_token%}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label "><i class="fa-solid fa-envelope"></i>Email
              address</label>
            <input type="email" class="form-control" id="exampl" eInputEmail1" aria-describedby="emailHelp" name="email" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><i class="fa-solid fa-key"></i>Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" ><i
                class="fa-solid fa-lock"></i>confirmPassword</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="confirmation" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary bg-dark" type="submit">Signup</button>

          </div>
        </form>
<div>Already user?<a href="/auth/signin">login</a></div>
      </div>





    </div>
    <div class="col-md-4"></div>


  </div>




</div>
{%endblock sign%}